.home {
  height: inherit;
}
.right {
  background-color: #231f20;
  border-radius: 20px;
  margin-right: 15px !important;
}

.menu-items {
  background: #161733;
  width: 100%;
  /* height: 50px; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menu-items ul li {
  background: #323261;
  width: 90%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.active {
  width: 98% !important;
  background: #7d48c0 !important;
}
